<link rel="stylesheet" href="{$wa_app_static_url}plugins/dynamicmenu/css/superfish.css" media="screen">
{if $settings.typemenu == 'vertical'}
<link rel="stylesheet" media="screen" href="{$wa_app_static_url}plugins/dynamicmenu/css/superfish-vertical.css">
{elseif $settings.typemenu == 'navbar'}
<link rel="stylesheet" media="screen" href="{$wa_app_static_url}plugins/dynamicmenu/css/superfish-navbar.css">
{/if}

<script src="{$wa_app_static_url}plugins/dynamicmenu/js/hoverIntent.js"></script>
<script src="{$wa_app_static_url}plugins/dynamicmenu/js/superfish.min.js"></script>

<script>
    (function($) { //create closure so we can safely use $ as alias for jQuery
        $(document).ready(function() {
            $('ul.sf-menu').superfish({
                delay: parseInt('{$settings.delay|escape}'),
                speed: '{$settings.speed|escape}',
                cssArrows: {$settings.autoArrows|escape},
            });
        });
    })(jQuery);
</script>

<style>
    .clear-both{
        clear: both;
    }
    .sf-menu li{
        background: {$settings.sfMenuLi|escape};
    }
    .sf-menu li:hover,.sf-menu li.sfHover{
        background: {$settings.sfMenuLiHover|escape};
    }
    .sf-menu a{ 
        color: {$settings.sfMenuA|escape};
        border-left: {$settings.sfMenuABorderLeftWidth|escape}px solid {$settings.sfMenuABorderLeftColor|escape};
        border-top: {$settings.sfMenuABorderTopWidth|escape}px solid {$settings.sfMenuABorderTopColor|escape};
    }
    .sf-menu li a:hover{
        color: {$settings.sfMenuAHover|escape};
    } 
    {if $settings.hideDefMenu}
    .category-tree{
        display: none;
    }
    {/if}
</style>

<div class="dynamicmenu_block">
    {$menu}
</div>